@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
    .navbarHide {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .hideOnLargerScreen {
        display: none !important;
    }
}

.testing{
    background-color: rgb(57, 57, 177) !important;
    border-radius: 6px;
}